<h3>Examine user</h3>

<!-- When the submit button is pressed, the form will submit to the relative page createUserPage
	the method for sending the data will be by http post
	the data in the body will look like:
	userid=blahblah&username=blahblah&authorizationlevel=blah&password=blah&confirmpassword=blah&submit=

	The parts inside <% %> are ruby code; this is the magic of it being an erb.
	This is similar to traditional ASP.
-->
<fieldset><legend>User Details</legend>
	<dl>
		<dt><label for="userid">User ID</label></dt>
		<dd><input type="text" name="userid" value="<%=@user.UserID%>" id="userid"></dd>
		<dt><label for="username">User Name</label></dt>
		<dd><input type="text" name="username" value="<%=@user.UserName%>" id="username"></dd>
		<dt><label for "authorizationlevel">Authorization Level</label></dt>
		<dd><input type="text" name="authorizationlevel" value="<%=@user.AuthorizationLevel%>" id="authorizationlevel"></dd>
	</dl>
</fieldset>
<a href="/users/">Back</a>
