<h3>Welcome to Mathworld</h3>
<p>Mathworld is a prototype web application for sharing math educational content, and is intended as a demonstration of a secure capability to provide multiple login contexts and allow for modification of content.<p>
<p> Use the links in the top right to gain access to public content, or to login to view/edit/upload private content.
