<h1>Welcome to MathWorld</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Mathworld is a prototype web application for sharing math educational content, and is intended as a demonstration of a secure capability to provide multiple login contexts and allow for modification of content.<p>

