<h1>MathContent#public</h1>
<p>Find me in app/views/math_content/public.html.erb</p>
<p>This page is a placeholder for the app root, and needs to be updated when we figure out how to link the ontrollers and modules.  -Dave Meese</p>