// Place all the styles related to the math_content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { font-family:sans-serif;
	font-size: 24pt;
	}
h1 {font-family:sans-serif;
	font-size: 48pt;
	font-weight: bold;
	color:#F00 ;
	}