
<!--      Nav bar for no login     -->

<!--  
      Need to perform ERB logic to modify the nav bar based on session variables.
      Think logged in or not, auth status, etc.
      Nav bar code modified from Google Code Academy CSS demo
-->


<div id="wd-navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <% if @loggedinuser %>
    <li><a href="/sessions/logout">Log Out</a></li>
    <% else %>
    <li><a href="/welcome/login">Log In</a></li>
    <li><a href="/users">Users</a>
    <% end %>
    <% if @loggedinuser && @loggedinuser.AuthorizationLevel >= 4 %>
    <li><a href="/users">User Admin</a></li>
    <% end %>

    <li><a href="/documents">Content</a>
  </ul>
</div>

