
<!--  
      This nav bar checks instance variables to present hte appropriate navigation controls for the user.
      Nav bar code modified from Google Code Academy CSS demo
-->


<div id="wd-navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <% if @loggedinuser %>
    <li><a href="/sessions/logout">Log Out</a></li>
    <% else %>
    <li><a href="/welcome/login">Log In</a></li>
    <% end %>
    <% if @loggedinuser && @loggedinuser.authorizationlevel >= 4 %>
    <li><a href="/users">User Admin</a></li>
    <% end %>

    <li><a href="/documents">Content</a>
  </ul>
</div>

