<!DOCTYPE html>
<html>
<head>
  <title>MathWorld</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Math World</h1>
		<h3>A sharing resource for math teachers</h3>
	</header>
	<nav>
		<ul>
			<li><a href ="/">Home</a><li>
			<li><a href ="#">Nav2</a><li>
			<li><a href ="#">Nav3</a><li>
			<li><a href ="/welcome/login">Login</a><li>
		</ul>
	</nav>
	

	<section id="intro">
		<!-- Introduction of page - Whatever goes in here is in the green box -->
		<%= yield %>  <!-- This pulls from the view and places it here -->
	</section>
	

	<section>
		<p>This is from contentStudent Layout. Note that there is a bug with how the variable to determine this is calculated.  The code lives in math_content_controller.rb.</p>
	</section>	

	<footer>
		<!-- footer -->
	</footer>

</body>
</html>
